/*background 
72ddf7

8093f1

b388eb */

.background1 {
   background-color:  #FAE7F3;
}

.background2 {
    background-color: #E6B9DE;
}

.background3 {
    background-color: #FAE7F3;
}
/*.backgroundimage {
    background: url("./Assets/marissa.jpg");
    height: 400px;
    width: 200px;
    background-size: cover;
    border-radius: 5%;
}*/
.name {
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}
