/*background 
72ddf7

8093f1

b388eb */

.background1 {
   background-color:  #72ddf750;
}

.background2 {
    background-color: #8093f150;
}

.background3 {
    background-color: #b388eb50;
}
/*.backgroundimage {
    background: url("./Assets/marissa.jpg");
    height: 400px;
    width: 200px;
    background-size: cover;
    border-radius: 5%;
}*/