/*background 
72ddf7

8093f1

b388eb */

.background1 {
   background-color:  #FAE7F3;
}

.background2 {
    background-color: #E6B9DE;
}

.background3 {
    background-color: #FAE7F3;
}
/*.backgroundimage {
    background: url("./Assets/marissa.jpg");
    height: 400px;
    width: 200px;
    background-size: cover;
    border-radius: 5%;
}*/
.name {
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    padding-top: 50px;
}

.profile-pic {
    margin-top: 150px;
    margin-bottom: 150px;
}

.tech {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    padding-bottom: 50px
}

/*giphy links for site:
Thank God I took that coding course
<iframe src="https://giphy.com/embed/scZPhLqaVOM1qG4lT9" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/scaler-official-monday-computer-laptop-scZPhLqaVOM1qG4lT9">via GIPHY</a></p>
Cat coding
<iframe src="https://giphy.com/embed/VbnUQpnihPSIgIXuZv" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/computer-cat-wearing-glasses-VbnUQpnihPSIgIXuZv">via GIPHY</a></p>
Girls Code
<iframe src="https://giphy.com/embed/ksjExXqgrmcrwKEtrn" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/girlswhocode-computer-ksjExXqgrmcrwKEtrn">via GIPHY</a></p>
CodeCademy computer image
<iframe src="https://giphy.com/embed/DX7CsFhBt86tw5gewr" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/Codecademy-programming-software-development-developer-DX7CsFhBt86tw5gewr">via GIPHY</a></p>
SheCodes
<iframe src="https://giphy.com/embed/S7BxVusKhUQAtUAdeg" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/she-codes-career-in-tech-women-programming-S7BxVusKhUQAtUAdeg">via GIPHY</a></p>
